
<%# <div> %>
  <%# <% @total_by_store.each do |h| %>
    <%# <div> %>
      <%# <h2><%= h[:store]</h2>  %>
      <%# <p>Total List Price of Items: $<%= h[:total_price]</p>  %>
    <%# </div> %>
  <%# <% end %>
<%# </div> %>
<div style= "position:relative">

  <%= link_to my_items_path, class:"back-button" do %>
      <i class="fa-solid fa-arrow-left fa-border fa-2x"></i>
  <% end %>


 <div class="card-legend">
  <button type="button" class="background-green button-outline" disabled>$</button>
  <button type="button" class="background-blue button-outline" disabled>$$</button>
  <button type="button" class="background-red button-outline" disabled>$$$</button>
 </div>


  <div style="width: 100%; height: 100vh;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
