<div class="my-items-container" data-controller="search-items">
  <h1 class="text-center">Grocery List</h1>
  <div>
    <%= simple_form_for my_items_path, method: :get, data: { search_items_target: 'form' }, html: { class: 'search-form' } do %>
      <div class="search-bar" data-search-items-target="bar">
        <input class="form-control search-input"
               data-search-items-target="input"
               data-action="keyup->search-items#results"
               placeholder="Add items to your list"
               type="text"
               name="query"
               id="search_query">
        <i class="fas fa-search fa-magnifying-glass" data-action="click->search-items#submitForm" aria-hidden="true"></i>
      </div>
      <div class="search-results" id="search-results" data-search-items-target="results">
        <%= render "results" %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col">
      <div class="cards" id="items-list" data-search-items-target="itemsList">
        <% @user_items.each do |user_item| %>
          <div class="card-body list-group-item" data-item-id="<%= user_item.id %>">
            <input type="checkbox" class="item-checkbox" data-action="change->search-items#toggleEmptyMessage">
            <div class="item-container">
              <h5 class="card-title text-start"><%= user_item.item.name %></h5>
              <%= link_to my_item_path(user_item), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "delete-link" do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if @user_items.empty? %>
    <div id="empty-message" class="empty-list-message">
      <div class="empty-message-content">
        <div class="empty-image"></div>
        Your shopping list is empty!
      </div>
    </div>
  <% end %>
  <% if @user_items.any? %>
    <div class="find-deals-button-container">
      <%= link_to 'Find Best Deals', stores_results_path(list: @item_ids), class: 'find-deals-button btn btn-primary mb-2' %>
      <p class="mb-2 inspiration-text">Need inspiration?</p>
      <%= link_to 'Suggest Recipe', recipes_my_items_path(list: @recipe_ids), class: 'generate-recipe-button btn btn-secondary' %>
    </div>
  <% end %>
</div>
