<div class="container">
  <h1 class="text-center">My Items</h1>
  <%= render "form" %>


  <div class="row">
    <div class="col">
      <div class="cards">
        <% @user_items.each do |user_item| %>
          <div class="card-body">
            <h5 class="card-title"><%= user_item.item.name %></h5>
            <%= link_to "Delete", my_item_path(user_item), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to "Find best option", stores_results_path, class: "btn btn-dark text-center mt-10"%>
</div>



<%@user_items.each do |user_item| %>
<% item_tocheck = Item.find(user_item.item_id) %>
<% @stores.each do |store| %>
<p><%= store.name %></p>
   <%= StoreItem.find_by(item_id: item_tocheck, store_id: store.id).price %>
  <% end %>
<% end %>
