<!DOCTYPE html>
<html>
  <head>
    <title>Shopwise - Shop Smart, Save More</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/8416fec96b.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag %>
  </head>

  <body>
    <%# Conditionally render navbar based on whether it's the homepage or not %>
    <% unless current_page?(root_path) %>
      <%= render "shared/navbar" %>
    <% end %>

    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
